In [1]:
x, y, z = "오렌지", "바나나", "체리"
print(x)
print(y)
print(z)

오렌지
바나나
체리

In [3]:
x=y=z="오렌지"
print(x)
print(y)
print(z)

오렌지
오렌지
오렌지

In [5]:
x = "홍길동"
print("내 이름은 " + x)

내 이름은 홍길동

In [7]:
x = "내 이름은 "
ㅛ = "홍길동"
print(x + ㅛ)

내 이름은 홍길동

In [14]:
ㅋㅋ = "ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ"
ㅎㅇ = "안녕하세요 잘 부탁드립니다"
print(ㅎㅇ+ㅋㅋ)

안녕하세요 잘 부탁드립니다ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

In [15]:
x = 100
y = 200
z = 300

In [16]:
x
y
z

300

In [17]:
print(x)
print(y)
print(z)

100
200
300

In [19]:
print(x,end='')
print(y,end='')

100200

In [20]:
x, y, z = 1, "대구", 3.14

In [21]:
x+z

4.140000000000001

In [22]:
y + x

TypeError: can only concatenate str (not "int") to str

In [27]:
str2 = "Hello World"

In [29]:
type(str2)

str

In [28]:
print(str2)

Hello World

In [34]:
message = """"예스"라고 답해줘요.
지금부터 다음 줄이다'"""
print(message)

"예스"라고 답해줘요.
지금부터 다음 줄이다'

문자열의 반복

In [35]:
line = "$" * 30
print(line)

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [36]:
type(x)

int

In [37]:
print(type(y))
print(type(z))

<class 'str'>
<class 'float'>

In [38]:
x = int(1.4)

In [39]:
x

1

In [40]:
type(x)

int

In [41]:
x = "145"
y = "600"

In [42]:
x+y

'145600'

In [43]:
int(x) + int(y)

745

In [44]:
x = "1.45"
y = "12.43"
x + y

'1.4512.43'

In [45]:
float(x) + float(y)

13.879999999999999

In [46]:
x = '"예" 라고 답하시오'
print(x)

"예" 라고 답하시오

In [47]:
string = "\"예\"라고 답하시오"
print(string)

"예"라고 답하시오

In [48]:
string2 = "\"예\" 라고\n 답하\t\t시오"

In [49]:
string2

'"예" 라고\n 답하\t\t시오'

In [50]:
print(string2)

"예" 라고
 답하		시오

In [51]:
line = "$\n" *30

In [52]:
line

'$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n$\n'

In [53]:
print(line)

$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$

In [54]:
age = 20
print("제 나이는 %s 입니다." %age)

제 나이는 20 입니다.

In [55]:
name = "변병문"
print("이름 : %s, 나이 : %s" % (name, age))

이름 : 변병문, 나이 : 20

In [65]:
line = "*" *33
empty_line = " " *10

In [75]:
print('/' + line)
print("*"+ empty_line + empty_line + empty_line+"  *")
print("*"+empty_line + "이름 : 변병문" + "         *")
print("*"+empty_line + "나이 : 20" + "             *")
print("*"+empty_line + "주소 : 대구광역시" +"     *")
print("*"+empty_line + empty_line + empty_line+"  *")
print(line + '/')

/*********************************
*                                *
*          이름 : 변병문         *
*          나이 : 20             *
*          주소 : 대구광역시     *
*                                *
*********************************/

In [80]:
Ap = 4.5
A = 4.0
Bp = 3.5
B = 3.0
Cp = 2.5
C = 2.0
Dp = 1.5
D = 1.0
F = 0
average = (A*2 + Bp*3 + C*3  ) / 8 
print("철수의 평균 성적 : %s" % average)

철수의 평균 성적 : 3.0625

In [85]:
print("하하하", end = "")
print("호호호")

하하하호호호

In [94]:
r = 3
pi = 3.14159

area = pi * r **2

print("원의 면적", area)

print("원의 면적 : " , (pi*r**2) )
print("구의 부피 : %s" % (4*pi*r**3/3))

원의 면적 28.27431
원의 면적 :  28.27431
구의 부피 : 113.09724

In [95]:
import math

In [103]:
x1, y1 = 5.2, 4.7
x2, y2 = 1.4, 3.2

print("중심점의 좌표 : ", "(",((x1+x2)/2),",",((y1+y2)/2),")")
print("두 점간의 거리 : ", math.sqrt((x2-x1)**2 + (y2-y1)**2))

X = (x1+x2) /2
Y = (y1 + y2) / 2

print("중심점의 좌표 : (%s, %s)" % (X, Y))

중심점의 좌표 :  ( 3.3 , 3.95 )
두 점간의 거리 :  4.0853396431631
중심점의 좌표 : (3.3, 3.95)

In [104]:
x = True

In [105]:
type(x)

bool

In [106]:
x = """ 여기가 첫번째 줄
여러줄 문자열을 만들 수 있습니다!!
하하하
호호호
2020.07.07
"""

In [107]:
x

' 여기가 첫번째 줄\n여러줄 문자열을 만들 수 있습니다!!\n하하하\n호호호\n2020.07.07\n'

In [108]:
print(x)

 여기가 첫번째 줄
여러줄 문자열을 만들 수 있습니다!!
하하하
호호호
2020.07.07

In [109]:
y = "대한민국만세"

In [110]:
y[0]

'대'

In [111]:
y[5]

'세'

파이썬에서는 배열을 뒤에서부터 참조할 수 있게 해줌

 : -1 은 뒤에서 첫번째꺼

In [113]:
y[-1]

'세'

[시작인덱스위치 : 끝 인덱스 다음위치]

2번 3번 인덱스를 출력하고 싶을땐 [2:4]

In [118]:
y[2:4]

'민국'

[  :  ] -> 끝에서부터 마지막까지

In [120]:
y[:]

'대한민국만세'

In [121]:
y[:3]

'대한민'

 * 마지막이 인덱스의 범위에 벗어나도 범위로 설정해줄때는 상관없음

In [122]:
y[10]

IndexError: string index out of range

In [125]:
y[3:100]

'국만세'

문자열 y의 특정 인덱스의 글자만 바꿀 수는 없음

In [126]:
y[0] = "도"

TypeError: 'str' object does not support item assignment